
.ProductDetail{

    background-color: orange;
    width: 100vw;
    height: 100vh;
    padding-top: 2%;
    display: flex;
    justify-content: center;
   

    &__container{

        background-color:red;
        width: 80%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }


    &__image{
        background-color: green;
        height: 60%;
        width: 40%;
        margin-left: 5%;
        margin-top: 5%;
    }
}

.imageContainer{
    width: 30vw;
    height: 40vh;
 
    margin-top: 5%;
    margin-left: 5%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.DetailContainer{

    width: 60vw;
    height: 40vh;
    background-color: green;
    margin-top: 5%;
    padding: 15px;
 
}


#image{
    width: 80%;
    border-radius: 15px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.imageContainer {
        width: 80vw;
        height: 40vh;
       
        margin-top: 5%;
        margin-left: 7%;
      
    }

        .DetailContainer {
            width: 80vw;
            height: 40vh;
            background-color: green;
           
            margin-left: 7%;
            
        }
                #image {
                    width: 80%;
                    border-radius: 15px;
        
                }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .imageContainer {
            width: 80vw;
            height: 40vh;
          
            margin: 10% 10% 0 ;
    
        }
    
        .DetailContainer {
    
            width: 80vw;
            height: 40vh;
            background-color: green;
            margin-left: 7%;
            margin: 5% 10% 0;
    
        }
                #image {
                    width: 80%;
                    border-radius: 15px;
        
                }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .imageContainer {
            width: 80vw;
            height: 40vh;
            margin: 10% 10% 0;
    
        }
    
        .DetailContainer {
    
            width: 80vw;
            height: 40vh;
            background-color: green;
            margin-left: 7%;
            margin: 5% 10% 0;
            border-radius: 20px;
            display: block;
            align-items: center;
    
        }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .imageContainer {
            width: 80vw;
            height: 40vh;
          
            margin: 10% 10% 0;
    
        }
    
        .DetailContainer {
    
            width: 80vw;
            height: 40vh;
            background-color: green;
            margin-left: 7%;
            margin: 5% 10% 0;
    
        }
                #image {
                    width: 80%;
                    border-radius: 15px;
        
                }


}


.buttons {
    background:
        linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}

// demo stuff 👇
.buttons {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--btn-font-size, 1em);
    color: var(--color-contrast-medium);
    padding: var(--space-xs) var(--space-md);
    cursor: pointer;
    transition: color .2s;

    &:hover {
        color: var(--color-contrast-high);
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.imageContainer {
        width: 380px;
        height: 45vh;
        
        margin-left: 17%;
        margin-top: 25%;

    }

    .DetailContainer {

        width: 50vw;
        height: 45vh;
        background-color: green;
        
        margin-left: 7%;
        margin-top: 12%;
        margin-right: 4%;
        padding: 40px;

    }
        #image {
            width: 80%;
            border-radius: 15px;
    
        }
}


@media only screen and (min-width: 1606px) {
    .imageContainer {
        width: 500px;
        height: 45vh;
       
        margin-left: 17%;
        margin-top: 25%;

    }

    .DetailContainer {

        width: 50vw;
        height: 45vh;
        background-color: green;

        margin-left: 7%;
        margin-top: 12%;
        margin-right: 4%;

    }
        #image {
            width: 80%;
            border-radius: 15px;
    
        }
}